<!DOCTYPE html>
<html>
	<title>旺店通考核系统</title>
<head>
<meta charset="utf-8">
<meta name="viewport" >
<script src="public/lib/jquery-1.12.3.min.js" ></script>
<script src="public/lib/jquery.countdown.js"></script>
<script src="public/lib/jquery.validate.js"></script>
<script src="public/js/exam.js"></script>
<link rel="stylesheet" href="public/lib/bootstrap-3.3.6-dist/css/bootstrap.css"></link>
<script src="public/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="public/css/exam.css" />

<link rel="stylesheet" href="public/css/bootstrap-select.css">
 
 
<script src="public/js/bootstrap-select.js"></script>

<script src="public/lib/jquery-ui-1.12.0/jquery-ui.min.js" ></script>

 <link rel="stylesheet" href="public/lib/jquery-ui-1.12.0/jquery-ui.min.css" />		