{include file="header.html"}

</head>
<body>
</body>
<div class="container">
  <form class="form-signin" id="login-form" action="?Controller=LoginController&act=userLogin" method="post">
    <h2 class="form-signin-heading">请登录</h2>
    <label for="inputEmail" class="sr-only">Phone</label>
    <input type="tel" name="user_name" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="pwd" class="form-control" placeholder="Password" required>
    <div class="checkbox">
     
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</html>