{include file="header.html"}
</head>
<body>
{include file="menu.html"}
<div class="container-fluid">
	 
	<p class="text-warning">通知</p>
	 
	<hr/>
	
	<table class="table table-hover ">
		<tbody>
		{foreach $result as $v}
			<tr task_id="{$v.task_id}">
				<td>{$v.task_name}</td>
				<td>{$v.created}</td>
				<td><button class="btn_read">标记已读</button></td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>
<script type="text/javascript">
{literal}
	$(function(){
		$(".btn_read").click(function(){
			var task_id = $(this).parents("tr").attr("task_id");
			var url ="?controller=TaskController&act=taskRead";
			$.post(url,{task_id:task_id},function(result){
				if(result == true){
					document.location.reload();
				}else{
					alert(result);
				}
			});
		});
	});
	{/literal}
</script>
</body>
</html>